<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Woman clothes</h1>
    <div class="container">
        <div class="row">
            <div class="col-4"  th:each="el : ${products}">
                <div class="album py-5 bg-light">
                    <div class="card-deck mb-3 text-center" >
                        <div class="card mb-4 box-shadow">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="285" th:src="${el.imageUrl}" alt="Image">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal" th:text="${el.name}"></h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" th:text="${el.price}"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li th:text="${el.info}"></li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Woman shoes</h1>
    <div class="container">
        <div class="row">
            <div class="col-4"  th:each="el : ${shoes}">
                <div class="album py-5 bg-light">
                    <div class="card-deck mb-3 text-center" >
                        <div class="card mb-4 box-shadow">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="285" th:src="${el.imageUrl}" alt="Image">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal" th:text="${el.name}"></h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title" th:text="${el.price}"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li th:text="${el.info}"></li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>

</body>

</html>